# Configuración de Visual Studio
.vs/
*.user
*.suo

# Compilación
bin/
obj/
out/
[Bb]uild/
[Ll]og/
[Tt]estResults/
Migrations/

# Archivos de cache y temporales
*.cache
*.tmp
*.swp

# Archivos de publicación local
publish/
app.publish/
appsettings.json

# Archivos de usuario de VS Code
.vscode/

# Paquetes NuGet
*.nupkg
*.snupkg
packages/

# Archivos de depuración
*.pdb
*.mdb

# Archivos generados
artifacts/
project.lock.json
project.fragment.lock.json

# Logs
*.log
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
